<div class="card event-card">
  <div class="card-body d-flex justify-content-between flex-column">
    <h5 class="card-title">Graham is going to Tacos &amp; Tequila @ 12:00pm</h5>
    <div class="button-details d-flex justify-content-between">
      <div class="going-box mx-1">
        <button class="btn btn-outline-success going-button" style="width:100%">Going <span
            class="badge">5</span></button>
      </div>
      <div class="maybe-box mx-1">
        <button class="btn btn-outline-info maybe-button" style="width:100%">Maybe <span
            class="badge">3</span></button>
      </div>
    </div>
  </div>
</div>