<div class="card event-card" (click)="showModal(content, $event)">
  <div class="card-body d-flex justify-content-between flex-column">
    <div>
      <h5 class="card-title">{{data.location}} @ {{ data.time | date:'shortTime' }}</h5>
      <p class="card-title text-muted">Hosted by {{getHost}}</p>
    </div>
    <div class="button-details d-flex justify-content-between">
      <div class="going-box mx-1">
        <button class="btn going-button btn-lg" [ngClass]="{'btn-outline-success': !going,'btn-success':going}"
        style="width:100%" (click)="clickGoing()" [disabled]="areHosting">Going
          <span class="badge badge-success">{{data.going.length}}</span></button>
      </div>
      <div class="maybe-box mx-1">
        <button class="btn maybe-button btn-lg" [ngClass]="{'btn-outline-info': !maybe,'btn-info':maybe}" 
        style="width:100%" (click)="clickMaybe()" [disabled]="areHosting">Maybe <span
            class="badge badge-info">{{data.maybe.length}}</span></button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>

  <div class="modal-body">

    <div class="card-body d-flex justify-content-between flex-column">
      <div>
        <h5 class="card-title">{{data.location}} @ {{data.time | date:'shortTime'}}</h5>
        <p class="card-title text-muted">Hosted by {{getHost}}</p>
      </div>
      <div class="mb-3">
        Going: <span *ngFor="let person of data.going">{{person}}, </span>
      </div>
      <div class="mb-3">
        Maybe: <span *ngFor="let person of data.maybe">{{person}}, </span>
      </div>


      <ng-container *ngIf="!areHosting; else deleteTemplate">
        <div class="button-details d-flex justify-content-between">
          <div class="going-box mx-1">
            <button class="btn going-button btn-lg" [ngClass]="{'btn-outline-success': !going,'btn-success':going}" style="width:100%" (click)="clickGoing()">Going
              <span class="badge badge-success">{{data.going.length}}</span></button>
          </div>
          <div class="maybe-box mx-1">
            <button class="btn maybe-button btn-lg" [ngClass]="{'btn-outline-info': !maybe,'btn-info':maybe}" style="width:100%" (click)="clickMaybe()">Maybe <span
                class="badge badge-info">{{data.maybe.length}}</span></button>
          </div>
        </div>
      </ng-container>
      <ng-template #deleteTemplate>
        <div class="mx-1">
          <button class="btn delete-button btn-lg btn-danger" style="width: 100%;"(click)="clickDelete(modal)">Delete</button>
        </div>
      </ng-template>
      
      
      
    </div>

  </div>


</ng-template>